@import "theme-variables";

$sizes: (
  sm: 2px,
  md: 5px,
  lg: 8px,
  xlg: 10px,
  xxlg: 10px,
);

@each $sz_name, $sz_value in $sizes {
  @each $cl_name, $cl_value in $custom-theme-colors {
    .shadow-#{$sz_name}-#{$cl_name} {
      box-shadow: 0 0 ($sz_value * 5) ($sz_value) $cl_value;
    }
  }
}
