$custom-theme-colors: (
  primary: #219ebc,
  secondary: #fd9e02,
  success: #49d276,
  info: #41c5b4,
  warning: #d07e40,
  danger: #b02f2f,
  ok: #01a17d,
  background: #cbe8fa,
  light: #8ecae6,

  primary-dark: #18778d,
  secondary-dark: #bd7400,
  success-dark: #07802d,
  info-dark: #127db6,
  warning-dark: #bb682c,
  danger-dark: #a12727,
  ok-dark: #0f7e5f,
  background-dark: #0b231e,
  dark: #023047,

  white: #cce5ff,
  black: #181c26,
);
