<nav class="navbar navbar-expand-lg"
     templateTheme
     light="navbar-light bg-light"
     dark="navbar-dark bg-dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <template-routable-link *ngFor="let route of navbarRoutes()" [link]="route"></template-routable-link>
      </div>
      <div class="">
        <label templateTheme
               light="btn-light btn-outline-primary"
               dark="btn-dark btn-outline-primary-dark" class="btn" (click)="switchTheme()">
          <fa-icon [icon]="faMoon"></fa-icon>
        </label>
      </div>
    </div>

  </div>
</nav>
