<template-navbar></template-navbar>

<router-outlet>test</router-outlet>

<template-footer></template-footer>

<template-flash-messages></template-flash-messages>

<!--TODO remove-->
<button class="btn"
        templateTheme
        light="btn-primary"
        dark="btn-primary-dark"
        (click)="flash(OK_STATUS)">
  ok
</button>
<button class="btn"
        templateTheme
        light="btn-primary"
        dark="btn-primary-dark"
        (click)="flash(ERROR_STATUS)"
>
  error
</button>
<button class="btn"
        templateTheme
        light="btn-primary"
        dark="btn-primary-dark"
        (click)="flash(SUCCESS_STATUS)"
>
  success
</button>
<button class="btn"
        templateTheme
        light="btn-primary"
        dark="btn-primary-dark"
        (click)="flash(INFO_STATUS)"
>
  info
</button>
<button class="btn"
        templateTheme
        light="btn-primary"
        dark="btn-primary-dark"
        (click)="flash(WARNING_STATUS)"
>
  warning
</button>

<button (click)="getCookies()"
        class="btn"
        dark="btn-primary-dark"
        light="btn-primary"
        templateTheme
>
  get Cookies
</button>
<button (click)="setCookies()"
        class="btn"
        dark="btn-primary-dark"
        light="btn-primary"
        templateTheme
>
  set Cookies
</button>
<button (click)="deleteCookies()"
        class="btn"
        dark="btn-primary-dark"
        light="btn-primary"
        templateTheme
>
  delete Cookies
</button>
